assc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/db/*.yml
*.swp
*/**/.DS_Store
logfile
db/schema.rb
*.rdb
.irb-history
lib/pusher/node_modules/*
.DS_Store
.byebug_history
